<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" [ngClass]="{ 'enviado': cartMaintenance}" href="#!">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">All Products</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <p *ngIf="cartMaintenance; else noMaintenance" style="color: red;padding-right: 1rem;">Cart (Carrinho) está em
          manutenção!</p>
        <ng-template #noMaintenance>
          <p style="color: orange;padding-right: 1rem;">Não está tem manutenção! Recurso desativado...</p>
        </ng-template>
        <button class="btn btn-outline-dark" type="button" (click)="onButtonEvent()">
          <i class="bi-cart-fill me-1"></i>
          {{text}}
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
        <input type="email" required="required" placeholder="Digite seu email..." (input)="onInputEmail($event)" />
        <p>{{email}}</p>
      </form>
    </div>
  </div>
</nav>
